<div ba-panel ba-panel-class="panel light-text">
    <button type="button" ng-repeat="obj in palette" class="btn btn-primary btn-raised btn-long" ng-click="editEvent(obj)" ng-class="{'btn-default':selectedObj.var.variable == obj.name}">
        {{obj.name}}
    </button>
</div>


<div ba-panel ba-panel-class="panel light-text" ng-show="selectedObj">
    <h2>{{selectedObj.var.variable}}</h2>


    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab ng-repeat="n in selectedObj.var.body" heading="{{n.attribute.attrName}}" ng-click="setCode(n)">

        </uib-tab>


    </uib-tabset>

    <div ui-ace="{
          useWrapMode : true,
          showGutter: false,
          theme:'twilight',
          mode: 'javascript'}" ng-model="code.attrValue"></div>
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-with-icon" onclick="addWatcher()"><i class="ion-plus-round"></i></button>
        </div>
        <div class="form-group col-md-11">
            <input type="text" tag-input="primary" ng-model="watchers" data-role="tagsinput" placeholder="Add Watcher">

        </div>
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-raised btn-long" ng-click="cloneEvent()">Clone</button>

        <button type="button" class="btn btn-primary btn-raised btn-long" ng-click="saveEvent()">Save</button>
    </div>
</div>